/* styles for the middle-right side of the website */

/* box that contains the images */
.imageBox {
  width: 45%;
  height: 80%;
  position: absolute;
  right: 6.25rem;
  bottom: 0;
  cursor: pointer;
}

/* the images themselves */
.imageBox img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.imageBox:hover .backgroundImage {
  bottom: 2.5rem;
}

.imageBox:hover .mainImage {
  left: 54%;
}