/* styles for the middle part of the website */
.info {
  margin: 15% 0 0 8%;
}

/* title */
.info h1 {
  font-size: 4.4rem;
  color: #212121;
  margin-bottom: 1.25rem;
}
.info h1 span {
  color: #ff4321;
}

/* the paragraph below the title */
.info p {
  color: #606163;
  line-height: 1.34rem;
  max-width: 35rem;
}

/* download CV link */
.info a {
  display: inline-block;
  background: #212121;
  color: #fff;
  margin: 1.88rem 0;
  padding: 0.62rem 1.1rem;
  border-radius: 0.5rem;
}